.button {
  border: 0.7px solid rgba(255, 255, 255, 0.54);
  background: rgba(216, 216, 216, 0.02);
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-weight: lighter;
  font-size: 10px;
  cursor: pointer;
}
