.button {
  border: 0.7px solid rgba(255, 255, 255, 0.54);
  background: rgba(216, 216, 216, 0.02);
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-weight: lighter;
  font-size: 10px;
  cursor: pointer;
  transition: 0.01s;

  &:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1s;
  }
}
