.delegate {
  display: flex;
  align-items: center;
  padding: 40px;

  a {
    margin-right: 20px;
  }

  button {
    svg {
      width: 13px !important;
      height: 13px !important;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      g {
        fill: rgba(255, 255, 255, 0.54);
      }
    }
  }
  p {
    margin: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.54);
  }
  h4 {
    margin: 0;
    font-size: 18px;
    color: white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}
