.table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;

  tbody {
    display: table;
    width: 100%;
  }

  &__profileButton {
    min-width: 50px;
  }
}
